{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block main %}
    <div class="container">
        <h2>Ceci est la page d'accueil</h2>

        {# Les deux liens ci-dessous fonctionneront, le 2ème est la meilleure pratique #}
        {# Ce lien fonctionnera mais devra être modifié en cas de modification des routes #}
        <p><a href="/actualites/articles" style="text-decoration: underline blue; color: blue;">Liste des articles</a>
        </p>

        {# Ce lien changera automatiquement en cas de modification des routes #}
        <p><a href="{{ path('actualites_articles') }}" style="text-decoration: underline blue; color: blue;">Liste des
                articles</a></p>

        <p><a href="{{ path('admin') }}" style="text-decoration: underline blue; color: blue;">Page admin</a></p>
    </div>
{% endblock %}
