/* global styles */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

/* header */

/* main */
main {
    padding: 30px 0;
}

.flash{
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.flash-success{
    background-color: #4B8B20;
}

flash.error{
    background-color: #AA3333;
}

h1 {
    margin: 0;
}

form{
    margin-top: 10px;
}

label{
    display: inline-block;
    margin-right: 10px;
}

/*
login
 */

.block-btnSubmit-rememberMe{
    display: flex;
}

.block-rememberMe-mdp{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/*
list of articles
 */
block-cat-art{
    display: flex;
}

.block-articles{
    display: flex;
    flex-wrap: wrap;
}

.card-body{
    display: flex;
}

.card-block-text{
    padding: 1rem;
}

/**
footer
 */
footer {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid black;
}

/** EVENTS FILTERS*/
.filter{
    display: block;
    position: sticky;
    top: 20px;
}

#filters_middle{
    margin-top: 65px;

}

#filters_button{
    margin-top: 65px;
}