{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Tableau de bord' %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-6 alert-info">
                <span class="display-3">{{ countUsers['value'] }}</span> utilisateurs
            </div>
            <div class="col-6 alert-success">
                <span class="display-3">{{ countArticles['value'] }}</span> articles
            </div>
        </div>
    </div>
{% endblock %}
