{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter un article{% endblock %}

{% block main %}
    <h1 style="margin-bottom: 2rem;">Ajouter un article</h1>
    {{ form(articleForm) }}
{% endblock %}