{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter un article{% endblock %}

{% block main %}
    <div class="container">
        {% set titre = "Ajouter un article" %}
        <h1 style="margin-bottom: 2rem;">{{ titre }}</h1>
        {{ form(articleForm) }}
    </div>
{% endblock %}